[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
elasticsearch = "*"
simplejson = "*"
certifi = "*"

[dev-packages]

[requires]
python_version = "3.6"
