{% extends 'public_webmail/base.html' %}

{% block content %}
<input class="form-control" id="email_search" type="text" placeholder="Search..">
<script>
    $(document).ready(function(){
      $("#email_search").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#mail_list tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
</script>

<table class="table table-hover ">
    <thead>
        <tr>
            <th style="width: 30%">From:</th>
            <th style="width: 10%">To:</th>
            <th style="width: 30%">Subject</th>
            <th style="width: 10%">Time</th>
        </tr>
    </thead>
    <tbody id="mail_list">


{% if emails %}
    {% for email in emails %}
    <tr onclick="window.location='/mail/{{ email.id }}'">
        <td>{{ email.from }}</td>
        <td>{{ email.to }}</td>
        <td>{{ email.subject }}</td>
        <td>{{ email.time }}</td>
    </tr>

    {% endfor %}

{% else %}

{% endif %}

    </tbody>
</table>
{% endblock %}
